.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.weather-card {
  border: 1px solid #7a6868e8;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background: #f9f9f9;
  width: 250px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
